{% extends 'generic_template.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form>
    {% csrf_token %}
    <label> Name: </label>
    <input type="text" name="name">
    <label> Password: </label>
    <input type="password" name="password">
    <input type="submit" name="Login">
    </form>

{% endblock %}