{% extends "generic_template.html" %}
{% block title %}Articles{% endblock %}

{% block content %}


    {% if article_list %}
        {% for article in article_list %}
            <p><strong> <a href="{% url 'blog-main:article-detail' article.id %} ">
                {{ article.title| escapejs }}</strong>
                </a>
                <small>{{ article.pub_date }}</small>
                {{ article.author }} </p>
            <hr>
        {% endfor %}

    {% else %}
        <p>На жаль поки що нема постів</p>
    {% endif %}
{% endblock %}