{% extends 'generic_template.html' %}

{% block title %}
    Створення нового цікавого повідомлення
{% endblock %}

{% block content %}
    <form method="post" action="{% url 'blog-main:new-article' %}">
        {% csrf_token %}
        <input type="hidden" name="author" value="{{ user.blogger.id }}">
        {{ form.as_p }}
        <input type="submit" value="Створити">
    </form>
{% endblock %}