{% extends "main/../generic_template.html" %}
{% block title %}Articles{% endblock %}


{% block content %}

    <p><strong>{{ article.title| escapejs }}</strong>
        <small>{{ article.pub_date }}</small>
        {{ article.author }} </p>

    <p class="main-text"> {{ article.text }}</p>

    {% if article.twit_set.all %}
        {% for coment in article.twit_set.all %}
            <p><strong>{{ coment.autor }}</strong>
                - <small>{{ coment.date|date:""}}</small></p>
            <p>{{ coment.text }}</p>
            <hr>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated %}
        <form method="post" , action="{% url 'blog-main:twit-save' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{ user.id }}">
            <input type="hidden" name="pk" value="{{ article.id }}">
            <input type="hidden" name="url" value="{% url 'blog-main:article-detail' article.id %}">
            {{ form_twit.as_table }}
            <input type="submit" value="Відгук">
        </form>
    {% endif %}
    <hr>

{% endblock %}