{% extends "generic_template.html" %}
{% block title %}Articles{% endblock %}

{% block content %}

    {% if object%}
        <h3>{{ blogger.user.username|capfirst }}
            <small> Articles:
            {% if not blogger.article_set.all.count %}
                0
            {% else %}
                {{ blogger.article_set.all.count }}
            {% endif %}
            </small>
        </h3>

        {% if not blogger.article_set.all %}
            <p>Постів поки що нема </p>
        {% else %}
            <h4>Posts: </h4>
        {% endif %}

        {% for article in blogger.article_set.all %}
            <h5><a href="{% url 'blog-main:article-detail' article.id %} ">{{ article.title }} </a>
                - <small class="gray">{{ article.pub_date }}</small></h5>
            <p>{{  article.text}} </p>
            <hr>
        {% endfor %}
    {% else %}
        <p>На жаль поки що нема постів</p>
    {% endif %}
{% endblock %}