{% extends "generic_template.html" %}
{% block title %}Articles{% endblock %}

{% block content %}

    {% if object_list %}
        {% for blogger in blogger_list %}
            <h5><a href="{% url 'blog-main:blogger-article-list' blogger.id%}">{{ blogger.user.username }}</a></h5>
            <h6> Articles: {{ blogger.article_set.all.count }}</h6>
            <hr>
{#            {% for article in bloger.user.article_set.all %}#}
{#                <p><strong> <a href="{% url 'blog-main:article-detail' article.id %} ">#}
{#                    {{ article.title| escapejs }}</strong>#}
{#                    </a>#}
{#                    <small>{{ article.pub_date }}</small>#}
{#                <p class="main-text"> {{ article.text[25] }}</p>#}
{#                <hr>#}
{##}
{#            {% endfor %}#}
        {% endfor %}
    {% else %}
        <p>На жаль поки що нема постів</p>
    {% endif %}
{% endblock %}