{% extends 'generic_template.html' %}

{% block title %}User registration{% endblock %}

{{% block content %}
    <form method="post" action="{% url 'blog-main:user-reg' %}" style="width: 50%">
        {% csrf_token %}

{#        {% for field in form_reg %}#}
{#            <div class="form-group" style="alignment: center">#}
{#            <label>{{ field.label_tag }}</label>#}
{#                {% if field.help_text %}#}
{#                    <small style="color: gray">{{ field.help_text }}</small>#}
{#                {% endif %}#}
{##}
{##}
{##}
{#            <input class="form-control" aria-describedby="emailHelp"#}
{#                    {% if field.name  == 'email' %}#}
{#                        type="email"#}
{#                        placeholder="Enter email"#}
{#                    {% elif 'password' in field.name %}#}
{#                        type="password"#}
{#                        placeholder="Enter password"#}
{#                    {% else %}#}
{#                        type="text"#}
{#                    {% endif%}#}
{##}
{#                   name="{{ field.name }}">#}
{#            <small id="emailHelp" class="form-text text-muted"></small>#}
{#        </div>#}
{#        {% endfor %}#}


        {{ form.as_p }}
{##}
{#        <div class="form-group">#}
{#            <label for="exampleInputEmail1">name</label>#}
{#            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"#}
{#                   name="username">#}
{#            <small id="emailHelp" class="form-text text-muted"></small>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="exampleInputEmail1">Email address</label>#}
{#            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Enter email"#}
{#                   name="email">#}
{#            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
{#        </div>#}
{#        <div class="form-group">#}
{#            <label for="exampleInputPassword1">Password</label>#}
{#            <input type="password" class="form-control" placeholder="Password" name="password">#}
{#        </div>#}
        {#  <button type="submit" class="btn btn-primary">Submit</button>#}


        {#    {{ form_reg.as_table }}#}
        {#    </div>#}
        <input type="submit" value="Відправити">
    </form>

{% endblock %}