<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static '../statics/css/my.css' %}"/>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <style></style>
</head>
<body>
{#_____________nav-bar______________________________________________#}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">All posts</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'blog-main:blogger-list' %}">Blogger list <span class="sr-only">(current)</span></a>
            </li>

            {% if user.blogger %}
                <li class="nav-item">
                            <span class="navbar-text" style="margin-left: 5px">
                        <a href="{% url 'blog-main:new-article' %}">Create new Post</a>

                </li>
            {% endif %}

            <li class="nav-item active">
                {% if user.is_authenticated %}
                    <a class="nav-link" href="{% url 'logout' %}">Logout - {{ user.username }}<span class="sr-only">(current)</span></a>
                {% else %}
                    <a class="nav-link" href="{% url 'blog-main:user-reg' %}">Sign in<span class="sr-only">(current)</span></a>
                {% endif %}
            </li>


            {#      <li class="nav-item dropdown">#}
            {#        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#          Dropdown#}
            {#        </a>#}
            {#        <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#          <a class="dropdown-item" href="#">Action</a>#}
            {#          <a class="dropdown-item" href="#">Another action</a>#}
            {#          <div class="dropdown-divider"></div>#}
            {#          <a class="dropdown-item" href="#">Something else here</a>#}
            {#        </div>#}
            {#      </li>#}
            {#      <li class="nav-item">#}
            {#        <a class="nav-link disabled" href="#">Disabled</a>#}
            {#      </li>#}
        </ul>

        {% if not user.is_authenticated %}
            <form class="form-inline " method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <div class="form-group mb-2">
                    <label class="sr-only"> Login</label>
                    <input type="text" class="form-control" name="username">

                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label class="sr-only"> Password</label>
                    <input type="password" class="form-control" name="password">

                    {#                        {{ form_register.as_p }}#}
                    <input type="submit" class="btn btn-primary" style="margin-left: 10px" value="Login">
            </form>
        {% else %}
            <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'blog-main:artile-list' %}">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        {% endif %}
    </div>
</nav>
{#___________nav-bar_____________________________________________________#}
{% if messages %}
    <ul class="message">
        {% for message in messages %}
            <li> {{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}


<div style='margin-left: 15px'>
    {% block content %}{% endblock %}
</div>

{% if is_paginated %}
    <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
    </div>
{% endif %}

</body>
</html>